[submodule "themes/zola-tailwind"]
	path = themes/zola-tailwind
	url = git@github.com:tchartron/zola-tailwind.git
	branch = main
[submodule "public"]
	path = public
	url = git@github.com:tchartron/tchartron.github.io.git
	branch = main
